 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Chatter</a>
    <a class="nav-link" routerLink="/account">Account</a>
    <a class="nav-link" routerLink="/profile">Profile</a>       
    <!--<div *ngIf="isLoggedIn?.length == null">-->
        <a class="nav-link" routerLink="/login">Login</a>
    <!--</div>
    <div *ngIf="isLoggedIn?.length > 0">-->
        <a class="nav-link" (click)="logout()" routerLink="/login">Logout</a>
    <!--</div>-->
</nav>

 <div class="container">
  <router-outlet></router-outlet>
 </div>
