
<br>
<form id="editForm">
  <label for="FORMusername">Username</label>
  <input type="text" name="FORMusername" [(ngModel)]="FORMusername">

  <label for="FORMbirthdate">Birthdate</label>
  <input type="test" name="FORMbirthdate" [(ngModel)]="FORMbirthdate">

  <label for="FORMage">Age</label>
  <input type="text" name="FORMage" [(ngModel)]="FORMage">

  <label for="email">Email Address</label>
  <input type="email" name="FORMemail" [(ngModel)]="FORMemail">

  <button type="submit" (click)="saveClicked()">Save</button>

</form>