
<br>
<form id="editForm">
  <label for="FORM_username">Username</label>
  <input type="text" name="FORMusername" [(ngModel)]="FORM_username">

  <label for="FORM_email">Email</label>
  <input type="email" name="FORMemail" [(ngModel)]="FORM_email">

  <label for="FORM_role">Role:</label>
  <input type="text" value={{FORM_role}} readonly>
  
  <button type="submit" (click)="saveClicked()">Save</button>

  <br>
  <br>
  <h3>Your Groups:</h3>
  <ol>
    <li *ngFor="let group of groups">{{group}}</li>
  </ol>

</form>